<h2>Welcome, <%= @user.username %>!
<br>

<h3>Your collection!</h3>

<p>Collected Authors</p>
<ul>
    <% Author.all.each do |author| %>
        <li>
            <p><a href=<%="/authors/#{author.id}" %>><%= author.name %></a></p>
        </li>
    <% end %>
</ul>

<p>Collected Books</p>
<ul>
    <% Book.all.each do |book| %>
        <li>
            <p><a href=<%="/books/#{book.id}" %>><%= book.title %></a></p>
        </li>
    <% end %>
</ul>

<!-- <h3>You can view your collection by <a href="/authors">Author</a>, <a href="/books">Book</a>, or <a href="/genres">Genre</a>.</h3> -->

<a href="/repository/new">Create New Entry</a>

<a href="/logout">Logout</a>
<br>
<br>

Under construction repository page